* {
    background-color: lavender;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.mainhead {
    background-color: rgb(090, 200, 170);
    color: #ffffff;
    font-size: 60px;
    text-align: center;
    font-weight: 800;
    padding: 40px;
    box-sizing: border-box;
}
.oaktreehomepage {
    height: auto;
    width: 500px;
    margin-left: 400px;
    margin-right: 400px;
}
.content, em {
    background:rgb(212, 245, 200);
    margin: 15px auto ;
    text-align: center;
    padding: 8px;
}
.subheading {
    color: rgb(100, 200, 060);
    font-size: 20px;
    background-color: azure;
    width: 576px;
    margin-left: 350px;
    margin-right: 350px;
    padding: 8px;
}